


/* 主体 */
section {
    flex: 1;
    overflow: auto;
    padding: 0 0.14rem;
}

/* 轮播图 */
section .banner{
    display: flex;
    height:1.51rem;
}
section .banner img{
    height:100%;
    width: 100%;
    margin: 0 auto;
    border-radius:10px; 
}

/* 二级标题 */
section h3{
    font-weight: normal;
    font-size: 0.16rem;
    color: #333333;
    font-family: "Ping Fang SC";
    margin:0.19rem 0 0.1rem 0;
}

/* 设计师图片 */
section .shejipic {
    display: flex;
    justify-content: space-between;
}
section .pics {
    width:0.62rem;
}

section .pics img{
    width:100%;
    height:0.88rem;
    display: block;
    border-radius: 5px;
}
section .pics p{
    margin-top:0.09rem;
    font-size: 0.12rem;
    color: #333333;
    font-family: "Ping Fang SC";
    text-align: center
}

/* 文章 */
section .passage {
    margin-top:0.24rem;
}
section .passage a{
    display: block;
    height:1.24rem;
    overflow: hidden;
}
section .passage img{
    margin-top:-0.4rem; 
    width:100%;
}

section .passage p{
    font-size: 0.14rem;
    color: #333333;
    font-family: "Ping Fang SC";
    margin:0.12rem 0 0.1rem 0;
}

section .times{
    display: flex;
    justify-content: space-between
}

section .times span{
    font-size: 0.12rem;
    color: #999797;
    font-family: "Ping Fang SC";
}






a:hover{
    color:#ecb067
}
/* 滚动条消失 */
section nav::-webkit-scrollbar {display:none}
