body,
form,
img,
ul,
li,
p,
h1,
h2,
h3,
dl,
dt,
dd,
a,
figure,
figcaption,
form,
input {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 26.667vw;
}
body,
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

/* 去掉输入边框 */
input {
  outline: 0;
}

/* 头部 */

header {
}

header h3 {
}

section {
}

section figure {
}
section figure figcaption {
}
section figure input {
}
section figure p {
  font-size: 0.12rem;
  color: #333333;
}
section figure .iconfont {
  font-size: 0.1rem;
  color: #333;
}
section form {
}
section textarea {
}

section figure:nth-of-type(1) input {
  margin-left: 0.14rem;
}
section figure:nth-of-type(2) {
  border-bottom: 0.1rem solid #d8d8d8;
}
